@model businessLogic.ModelViews.DashboardViewModel

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Address</th>
            <th>Age</th>
            <th>Role</th> <!-- Add a column for Role -->
            <th>Older Than 18</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.Address</td>
                <td>@user.Age</td>
                <td>@user.Role</td>
                <td>@user.OldThan18</td>
                <td>
                    @if(@user.Role != "Admin"){

                        <a asp-controller="Dashboard" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                        <form method="post" action="@Url.Action("DeleteConfirmed", new { id = user.Id })" style="display:inline;">
                            @Html.AntiForgeryToken()
                            <button type="submit" onclick="return confirm('Are you sure?')" class="btn btn-danger">Delete</button>
                        </form>
                    }

                    <a asp-controller="Dashboard" asp-action="ManageClaims" asp-route-id="@user.Id" class="btn btn-primary">
                        Claims
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" asp-controller="Dashboard">Add</a>
<a asp-action="Index" asp-controller="Roles">Roles</a>
